 .a{
     display: flex; 
     justify-content: space-around;
 }
 .chat{
     width: 100vh;
    
 }
 .h4{
     margin-left: 5%;
     margin-top: 3vh;
     text-decoration: underline;
     font-family: 'Times New Roman', Times, serif;
     text-shadow: 1px 1px #072fdf;
 }

 @media only screen and (max-width: 600px) {
    .a{
     flex-wrap: wrap;
    }
    .chat{
        
       
    }
  }